.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
}

.portfolio__item{
    background:var(--color-bg-variant);
    /* padding:0.5rem; */
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    overflow: hidden;
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
    
}

.portfolio__item-image{
    border-radius: 5px;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 2rem 0.2rem;
  
}

.portfolio__item-cta{
    display:flex;
    justify-content: center;
    gap:1rem;
    margin-top:1rem;
    margin-bottom: 1rem;
}

span{
    color:rgba(67, 66, 66, 0.837);
    font-size: small;

}
/* =========== MEDIA QUEIRES (MEDIUM DEVICES)============ */
@media screen and (max-width:1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap:1.2rem;
    }
  }
  
  /* =========== MEDIA QUEIRES (SMALL DEVICES)============ */
  @media screen and (max-width:600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
  }