header{
    height: 100vh;
    padding-top:7rem;
    overflow:hidden;
}

.header__container{
    text-align:center;
    height:100%;
    position:relative;
}

.header__container h1{
    font-size:4rem;
}

.header__container h5{
    font-size:1rem;
    opacity: 0.9;
}


.typed {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(2, 2, 2); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin:0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 6s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width:100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 0, 0); }
}

.fade-in {
    animation: fade-in 3s linear;
  }
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }



/* ======== CTA =========== */
.cta{
    margin-top:2.5rem;
    display:flex;
    gap:1.2rem;
    justify-content: center;
}

/* ======== HEADER SOCIALS =========== */
.header__socials{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.8rem;
    position: absolute;
    left:0;
    bottom:3rem;
}

.header__socials::after{
    content: ""; 
    width:1px;
    height:2rem;
    background:var(--color-primary);
}

/* ======== ME =========== */
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height:30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top:2rem;
    border-radius:12rem 12rem 0 0;
    overflow:hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ======== SCROLL DOWN =========== */

.scroll__down{
    position:absolute;
    right: -2.3rem;
    bottom:5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}



/* =========== MEDIA QUEIRES (MEDIUM DEVICES)============ */
@media screen and (max-width:1024px){
    header{
        height: 100vh;
    }
}
/* =========== MEDIA QUEIRES (SMALL DEVICES)============ */
@media screen and (max-width:600px){
    header{
        height:100vh;
    }

    .header__socials,
    .scroll__down{
        display:none;
    }
}

@media screen and (min-width:599px){
    header{
        height: 100vh;
    }
}